@import "reset.css";

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialItalic"; */
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBoldItalic"; */
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: black;
}

a:hover {
  color: #676329;
  transition: 0.5s;
}

a:not(:hover) {
  transition: 0.5s;
}

div {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  display: block;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(6, [row] auto);
  grid-column-gap: 1em;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "ArialBlack";
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(2, [row] auto);
  grid-column-gap: 1em;
  grid-row-gap: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "ArialBlack";
  line-height: 1.5em;
  font-size: calc(0.35em + 0.35vw);
}

































.gridgrid {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col/ span 4;
  grid-row: row;
}
.gridgrid2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col 5/ span 4;
  grid-row: row;
}
.gridgrid3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col 9/ span 4;
  grid-row: row;
}

.gridgrid4 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col/ span 4;
  grid-row: row 2;
}
.gridgrid5 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 5/ span 4;
  grid-row: row 2;
}

.gridgrid6 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 9/ span 4;
  grid-row: row 2;
}
.gridgrid7 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col/ span 4;
  grid-row: row 3;
}

.gridgrid8 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 5/ span 4;
  grid-row: row 3;
}

.gridgrid9 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 9/ span 4;
  grid-row: row 3;
}

.gridd3,
.gridd7 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "ArialRegular";
  padding: inherit;
  margin: auto;
}

.gridd2 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "ArialRegular";
  padding: inherit;
  margin-left: 1.5vw;
  margin-top: auto;
  margin-bottom: auto;
}

.gridd1,
.gridd4,
.gridd6,
.gridd8 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "ArialRegular";
  margin-top: auto;
  margin-bottom: auto;
}

.gridd1 {
  margin-bottom: 0.5em;
  object-fit: cover;
}

.logo {
  width: 20%;
  height: 20%;
}
/* .gridd1:hover {
width: 40%;
height: 40%;
} */


.gridd5 {
  font-size: calc(1em + 0.5vw);
  font-family: "ArialRegular";
  color: #676329;
  padding: inherit;
  margin-top: auto;
  margin-bottom: auto;
}


.gridd2:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}

.gridd3:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}

.gridd4:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}

.gridd6:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}

.gridd7:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}

.gridd8:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
}


.ggg1,
.ggg2,
.ggg3,
.ggg4,
.ggg5,
.ggg6 {
  background: #000;
  width: 100%;
  height: 2px;
}


















































.p1 {
  grid-column: col/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
  text-align: center;
}

/* .grid__item_item-p1 {
width: 10%;
} */

.p2 {
  grid-column: col 5/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
  display: flex;
      align-items: flex-end;
      justify-content: center;
}
.pp1,
.pp2,
.pp3,
.pp4 {
  display: inline-block;
}

.pp4{
}

.pp2 {
  margin-left: 2vw;
  margin-right: 2vw;
}

.pp3 {
  margin-right: 2vw;
}

.p3 {
  grid-column: col 9/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
}

.grid__item_item-p3 {
  font-family: "ArialBlack";
  text-align: center;
  font-size: calc(0.5em + 0.75vw);
}

.p4 {
  grid-column: col/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p4 {
  font-family: "ArialRegular";
  text-align: center;
}

.p5 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p5 {
  font-family: "ArialRegular";
  text-align: center;
}

.p6 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p6 {
  font-family: "ArialRegular";
  text-align: center;
}



.burger-menu {
  display: none;
}

/* MENU */

.article-nav-container {
  margin-top: 1.5em;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.burger-menu {
  display: none;
}

.burger-menu img {
  width: 25px;
  height: 25px;
}

/* MENU END */

/* ARTICLE */
article {
  border: 0;
  padding: 0;
}

.article-url {
  color: #177AD3;
}

article img {
  margin-bottom: 0;
}

.menu-items-two {
  display: none;
}

@media screen and (max-width: 800px) {

  .grid5,
  .menu-items {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .gridgrid2 {
    display: none;
  }
  .grid1 {
    margin-top: 1em;
  }

  .gridgrid4,
  .gridgrid5,
  .gridgrid6,
  .gridgrid7,
  .gridgrid8,
  .gridgrid9 {
    display: none;
  }

  /* .menu-items-two {
  padding-right: 0 !important;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(6, [row] auto);
  grid-auto-flow: row;
  grid-column-gap: 1em;
  } */
  .nav-toggle:checked ~ .menu-items-two {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(6, [row] auto);
    grid-column-gap: 1em;
    font-family: "ArialRegular";
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  /* .menu-items-two {
  --transition-time: 500ms;
  transform: translateY(100%);
  } */


  .gridd1 {
    display: none;
  }
  .griddd2 {
    grid-column: col 1/ span 4;
    grid-row: row 1;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .griddd3 {
    grid-column: col 1/ span 4;
    grid-row: row 2;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
  }
  .griddd4 {
    grid-column: col 1/ span 4;
    grid-row: row 3;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
  }
  .griddd6 {
    grid-column: col 1/ span 4;
    grid-row: row 4;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
  }
  .griddd7 {
    grid-column: col 1/ span 4;
    grid-row: row 5;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
  }
  .griddd8 {
    grid-column: col 1/ span 4;
    grid-row: row 6;
    font-size: calc(1em + 0.75vw);
    margin-bottom: 1em;
  }

  /* .griddd2:hover,
  .griddd3:hover,
  .griddd4:hover,
  .griddd6:hover,
  .griddd7:hover,
  .griddd8:hover {
  font-size: calc(1em + 1.5vw);
  } */

  .menu-items {
    display: none;
    padding-right: 0 !important;
  }

  /* .menu-items a {
  font-size: 20px;
  } */

  .burger-menu {
    /* display: inline-block;
    align-self: center;
    margin-left: 1.5em; */
    display: grid;
    grid-template-columns: repeat(2, [col] 1fr);
    grid-template-rows: repeat(1, [row] auto);
    grid-column-gap: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .gridlogo {
    grid-column: col 2/ span 1;
    grid-row: row;
    /* object-fit: cover; */
    text-align: end;
  }


  article {
    padding: 0 .5rem;
  }

  /* pre {
  max-width: 320px;
  } */
}
}
