@import "reset.css";


body {
  overflow-x: hidden;
}


.gridgrid {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col/ span 4;
  grid-row: row;
}
.gridgrid2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col 5/ span 4;
  grid-row: row;
}
.gridgrid3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-column: col 9/ span 4;
  grid-row: row;
}

.gridgrid4 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col/ span 4;
  grid-row: row 2;
}
.gridgrid5 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 5/ span 4;
  grid-row: row 2;
}

.gridgrid6 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 9/ span 4;
  grid-row: row 2;
}
.gridgrid7 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col/ span 4;
  grid-row: row 3;
}

.gridgrid8 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 5/ span 4;
  grid-row: row 3;
}

.gridgrid9 {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  grid-column: col 9/ span 4;
  grid-row: row 3;
}

.gridd3,
.gridd7 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  margin: auto;
}

.gridd2 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.gridd1,
.gridd4,
.gridd6,
.gridd8 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

.gridd5 {
  font-size: calc(1em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  color: #676329;
  padding: inherit;
  margin-top: auto;
  margin-bottom: auto;
}


.gridd2:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd2:not(:hover) {
  transition: 0.5s;
}

.gridd3:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd3:not(:hover) {
  transition: 0.5s;
}

.gridd4:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd4:not(:hover) {
  transition: 0.5s;
}

.gridd6:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd6:not(:hover) {
  transition: 0.5s;
}

.gridd7:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd7:not(:hover) {
  transition: 0.5s;
}

.gridd8:hover {
  font-size: calc(0.8em + 0.5vw);
  color: #676329;
  transition: 0.5s;
}

.gridd8:not(:hover) {
  transition: 0.5s;
}


.ggg1,
.ggg2,
.ggg3,
.ggg4,
.ggg5,
.ggg6 {
  background: #000;
  width: 100%;
  height: 2px;
}




















































div {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  /* transition: 1s; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(6, [row] auto);
  grid-column-gap: 1em;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5 {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(6, [row] auto);
  grid-column-gap: 1em;
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.grid1 {
  margin-top: 1em;
}

.grid2,
.grid4 {
  grid-row-gap: 5em;
}

.grid2,
.grid3,
.grid4 {
  margin-top: 7em;
}

.grid1,
.grid3 {
  grid-row-gap: 0.5em;
}

.grid4 {
  margin-bottom: 5em;
}

.grid5 {
  margin-bottom: 7em;
}

.grid__item {
  background: rgba(255, 65, 46, 0);
  padding: 1em;
}

.grid__item_item1 {
  grid-column: col / span 7;
  grid-row: row;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 2px black;
}

.grid__item_item2 {
  grid-column: col / span 8;
  grid-row: row 2;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}

.grid__item_item3 {
  grid-column: col / span 6;
  grid-row: row 3;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}

.grid__item_item4 {
  grid-column: col / span 10;
  grid-row: row 4;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}





/* ВРЕМЯ */
.grid__item_item-v1,
.grid__item_item-v2,
.grid__item_item-v3 {
  grid-row: row;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}

.grid__item_item-v1 {
  grid-column: col/ span 4;
}

/* ГОСТИ */
.grid__item_item-v2 {
  grid-column: col 5/ span 4;
}

/* ТЕМА */
.grid__item_item-v3 {
  grid-column: col 9 / span 4;
}


.vv4,
.vv6,
.vv8,
.vv10,
.vv12,
.vv14,
.vv16,
.vv18,
.vv20,
.vv22,
.vv24,
.vv26,
.vv28,
.vv30,
.vv32 {
  display: flex;
  align-items: flex-end;
}



.vv4 {
  grid-column: col/ span 4;
  grid-row: row 2;
}

.vv6 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
}

.vv8 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
}



.vv10 {
  grid-column: col/ span 4;
  grid-row: row 3;
}

.vv12 {
  grid-column: col 5/ span 4;
  grid-row: row 3;
}

.vv14 {
  grid-column: col 9/ span 4;
  grid-row: row 3;
}




.vv16 {
  grid-column: col/ span 4;
  grid-row: row 4;
}

.vv18 {
  grid-column: col 5/ span 4;
  grid-row: row 4;
}

.vv20 {
  grid-column: col 9/ span 4;
  grid-row: row 4;
}




.vv22 {
  grid-column: col/ span 4;
  grid-row: row 5;
}

.vv24 {
  grid-column: col 5/ span 4;
  grid-row: row 5;
}

.vv26 {
  grid-column: col 9/ span 4;
  grid-row: row 5;
}




.vv28 {
  grid-column: col/ span 4;
  grid-row: row 6;
}

.vv30 {
  grid-column: col 5/ span 4;
  grid-row: row 6;
}

.vv32 {
  grid-column: col 9/ span 4;
  grid-row: row 6;
}


.grid__item_item-v6,
.grid__item_item-v8,
.grid__item_item-v12,
.grid__item_item-v14,
.grid__item_item-v18,
.grid__item_item-v20,
.grid__item_item-v24,
.grid__item_item-v26,
.grid__item_item-v30,
.grid__item_item-v32 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
  margin-bottom: -2px;
}

.grid__item_item-v4,
.grid__item_item-v10,
.grid__item_item-v16,
.grid__item_item-v22,
.grid__item_item-v28 {
  font-size: calc(4em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
    margin-bottom: -8px;
}

.grid__item_item-v5,
.grid__item_item-v7,
.grid__item_item-v9,
.grid__item_item-v11,
.grid__item_item-v13,
.grid__item_item-v15,
.grid__item_item-v17,
.grid__item_item-v19,
.grid__item_item-v21,
.grid__item_item-v23,
.grid__item_item-v25,
.grid__item_item-v27,
.grid__item_item-v29,
.grid__item_item-v31,
.grid__item_item-v33 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
}

.vvv4,
.vvv6,
.vvv8,
.vvv10,
.vvv12,
.vvv14,
.vvv16,
.vvv18,
.vvv20,
.vvv22,
.vvv24,
.vvv26,
.vvv28,
.vvv30,
.vvv32 {
  background: #000;
  width: 100%;
  height: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}


/* КАЛЕНДАРЬ СОБЫТИЙ */
.grid__item_item-m1 {
  grid-column: col / span 4;
  grid-row: row / span 1;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}

.mm2,
.mm4,
.mm6,
.mm8,
.mm10,
.mm12,
.mm14,
.mm16,
.mm18,
.mm20,
.mm22,
.mm24,
.mm26,
.mm28,
.mm30 {
  display: flex;
  align-items: flex-end;
}


.mm2 {
  grid-column: col/ span 4;
  grid-row: row 2;
}

.mm4 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
}

.mm6 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
}




.mm8 {
  grid-column: col/ span 4;
  grid-row: row 3;
}

.mm10 {
  grid-column: col 5/ span 4;
  grid-row: row 3;
}

.mm12 {
  grid-column: col 9/ span 4;
  grid-row: row 3;
}





.mm14 {
  grid-column: col/ span 4;
  grid-row: row 4;
}

.mm16 {
  grid-column: col 5/ span 4;
  grid-row: row 4;
}

.mm18 {
  grid-column: col 9/ span 4;
  grid-row: row 4;
}




.mm20 {
  grid-column: col/ span 4;
  grid-row: row 5;
}

.mm22 {
  grid-column: col 5/ span 4;
  grid-row: row 5;
}

.mm24 {
  grid-column: col 9/ span 4;
  grid-row: row 5;
}




.mm26 {
  grid-column: col/ span 4;
  grid-row: row 6;
}

.mm28 {
  grid-column: col 5/ span 4;
  grid-row: row 6;
}

.mm30 {
  grid-column: col 9/ span 4;
  grid-row: row 6;
}


.grid__item_item-m2,
.grid__item_item-m4,
.grid__item_item-m6,
.grid__item_item-m8,
.grid__item_item-m10,
.grid__item_item-m12,
.grid__item_item-m14,
.grid__item_item-m16,
.grid__item_item-m18,
.grid__item_item-m20,
.grid__item_item-m22,
.grid__item_item-m24,
.grid__item_item-m26,
.grid__item_item-m28,
.grid__item_item-m30,
.grid__item_item-m32 {
  font-size: calc(4em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
  margin-bottom: -8px;
}

.grid__item_item-m3,
.grid__item_item-m5,
.grid__item_item-m7,
.grid__item_item-m9,
.grid__item_item-m11,
.grid__item_item-m13,
.grid__item_item-m15,
.grid__item_item-m17,
.grid__item_item-m19,
.grid__item_item-m21,
.grid__item_item-m23,
.grid__item_item-m25,
.grid__item_item-m27,
.grid__item_item-m29,
.grid__item_item-m31,
.grid__item_item-m33 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
}

.mmm2,
.mmm4,
.mmm6,
.mmm8,
.mmm10,
.mmm12,
.mmm14,
.mmm16,
.mmm18,
.mmm20,
.mmm22,
.mmm24,
.mmm26,
.mmm28,
.mmm30,
.mmm32 {
  background: #000;
  width: 100%;
  height: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}





.hh1,
.hh2,
.hh3,
.hh4,
.hh5 {
  display: flex;
  align-items: flex-end;
}



.hh1 {
  grid-column: col/ span 8;
  grid-row: row;
}

.hh2 {
  grid-column: col/ span 8;
  grid-row: row 2;
}

.hh3 {
  grid-column: col/ span 8;
  grid-row: row 3;
}

.hh4 {
  grid-column: col/ span 8;
  grid-row: row 4;
}

.hh5 {
  grid-column: col/ span 8;
  grid-row: row 5;
}


.grid__item_item-h1,
.grid__item_item-h2,
.grid__item_item-h3,
.grid__item_item-h4,
.grid__item_item-h5 {
  font-size: calc(1em + 10vw);
  padding: inherit;
  width: auto;
  display: inline-block;
  margin-bottom: -2px;
}

.grid__item_item-h6,
.grid__item_item-h7,
.grid__item_item-h8,
.grid__item_item-h9,
.grid__item_item-h10 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
}


.hhh1,
.hhh2,
.hhh3,
.hhh4,
.hhh5 {
  background: #000;
  width: 100%;
  height: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}




.p1 {
  grid-column: col/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
}

.p2 {
  grid-column: col 5/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
}

.p3 {
  grid-column: col 9/ span 4;
  grid-row: row 1;
  padding: 0.00001em;
}

.grid__item_item-p3 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  text-align: center;
}

.p4 {
  grid-column: col/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p4 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  text-align: center;
}

.p5 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p5 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  text-align: center;
}

.p6 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

.grid__item_item-p6 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  text-align: center;
}
