@import "reset.css";


body {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
}


div {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  /* transition: 1s; */
}

.grid1,
.grid2,
.grid3,
.grid4 {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(6, [row] auto);
  grid-column-gap: 1em;
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.grid2,
.grid4 {
  grid-row-gap: 5em;
}

.grid2,
.grid3,
.grid4 {
  margin-top: 7em;
}

.grid1,
.grid3 {
  grid-row-gap: 0.5em;
}

.grid4 {
  margin-bottom: 5em;
}

.grid__item {
  background: rgba(255, 65, 46, 0);
  padding: 1em;
}

.grid__item_item1 {
  grid-column: col / span 7;
  grid-row: row;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 2px black;
}

.grid__item_item2 {
  grid-column: col / span 8;
  grid-row: row 2;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}

.grid__item_item3 {
  grid-column: col / span 6;
  grid-row: row 3;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}

.grid__item_item4 {
  grid-column: col / span 10;
  grid-row: row 4;
  padding: 0.00001em;;
  font-size: calc(1em + 10vw);
}





/* ВРЕМЯ */
.grid__item_item-v1 {
  grid-column: col / span 4;
  grid-row: row / span 1;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}

/* ГОСТИ */
.grid__item_item-v2 {
  grid-column: col 5/ span 4;
  grid-row: row;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}

/* ТЕМА */
.grid__item_item-v3 {
  grid-column: col 9 / span 4;
  grid-row: row;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}



.vv4 {
  grid-column: col/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

/* 13:00 */
.grid__item_item-v4 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv4 {
	background: #000;
  margin: auto;
  width: 15vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v5 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv6 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v6 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv6 {
	background: #000;
  margin: auto;
  width: 11.7vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v7 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}




.vv8 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v8 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv8 {
	background: #000;
  margin: auto;
  width: 11.7vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v9 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv10 {
  grid-column: col/ span 4;
  grid-row: row 3;
  padding: 0.00001em;
}

/* 13:00 */
.grid__item_item-v10 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv10 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v11 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv12 {
  grid-column: col 5/ span 4;
  grid-row: row 3;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v12 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv12 {
	background: #000;
  margin: auto;
  width: 10.9vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v13 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv14 {
  grid-column: col 9/ span 4;
  grid-row: row 3;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v14 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv14 {
	background: #000;
  margin: auto;
  width: 9.5vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v15 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}


.vv16 {
  grid-column: col/ span 4;
  grid-row: row 4;
  padding: 0.00001em;
}

/* 13:00 */
.grid__item_item-v16 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv16 {
	background: #000;
  margin: auto;
  width: 14vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v17 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv18 {
  grid-column: col 5/ span 4;
  grid-row: row 4;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v18 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv18 {
	background: #000;
  margin: auto;
  width: 14.8vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v19 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}




.vv20 {
  grid-column: col 9/ span 4;
  grid-row: row 4;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v20 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv20 {
	background: #000;
  margin: auto;
  width: 10vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v21 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}


.vv22 {
  grid-column: col/ span 4;
  grid-row: row 5;
  padding: 0.00001em;
}

/* 13:00 */
.grid__item_item-v22 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv22 {
	background: #000;
  margin: auto;
  width: 15vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v23 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv24 {
  grid-column: col 5/ span 4;
  grid-row: row 5;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v24 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: auto;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv24 {
	background: #000;
  margin: auto;
  width: 16.3vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v25 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}




.vv26 {
  grid-column: col 9/ span 4;
  grid-row: row 5;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v26 {
  font-size: calc(1em + 1.1vw);
  width: 5.4em;
  padding: inherit;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv26 {
	background: #000;
  margin: auto;
  width: 12vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v27 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}




.vv28 {
  grid-column: col/ span 4;
  grid-row: row 6;
  padding: 0.00001em;
}

/* 13:00 */
.grid__item_item-v28 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv28 {
	background: #000;
  margin: auto;
  width: 11.6vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v29 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.vv30 {
  grid-column: col 5/ span 4;
  grid-row: row 6;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v30 {
  font-size: calc(1em + 1.1vw);
  padding: inherit;
  width: 5.2em;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv30 {
	background: #000;
  margin: auto;
  width: 16.2vw;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v31 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}




.vv32 {
  grid-column: col 9/ span 4;
  grid-row: row 6;
  padding: 0.00001em;
}

/* ВИКТОР ПЯТНИСТЫЙ */
.grid__item_item-v32 {
  font-size: calc(1em + 1.1vw);
  width: auto;
  padding: inherit;
  display: inline-block;
}

/* ЛИНИЯ */
.vvv32 {
	background: #000;
  margin: auto;
  width: 13.7em;
  height: 2px;
  display: inline-block;
}

/* КУРАТОР */
.grid__item_item-v33 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

































.hh1 {
  grid-column: col/ span 8;
  grid-row: row 1;
  padding: 0.00001em;
}

/* 20 */
.grid__item_item-h1{
  font-size: calc(1em + 10vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.hhh1 {
	background: #000;
  margin: auto;
  width: 38vw;
  height: 2px;
  display: inline-block;
}

/* ПОКАЖЕМ */
.grid__item_item-h6{
  font-size: calc(1em + 0.75vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.hh2 {
  grid-column: col/ span 8;
  grid-row: row 2;
  padding: 0.00001em;
}

/* 06 */
.grid__item_item-h2{
  font-size: calc(1em + 10vw);
  grid-column: col / span 4;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.hhh2 {
	background: #000;
  margin: auto;
  width: 35.85vw;
  height: 2px;
  display: inline-block;
}

/* РАССКАЖЕМ */
.grid__item_item-h7{
  font-size: calc(1em + 0.75vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.hh3 {
  grid-column: col/ span 8;
  grid-row: row 3;
  padding: 0.00001em;
}

/* 2020 */
.grid__item_item-h3{
  font-size: calc(1em + 10vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.hhh3 {
	background: #000;
  margin: auto;
  width: 22vw;
  height: 2px;
  display: inline-block;
}

/* ОБЪЯСНИМ */
.grid__item_item-h8{
  font-size: calc(1em + 0.75vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.hh4 {
  grid-column: col/ span 8;
  grid-row: row 4;
  padding: 0.00001em;
}

/* 13 */
.grid__item_item-h4{
  font-size: calc(1em + 10vw);
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 2px black;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.hhh4 {
	background: #000;
  margin: auto;
  width: 33vw;
  height: 2px;
  display: inline-block;
}

/* УГОСТИМ ЧАЕМ */
.grid__item_item-h9{
  font-size: calc(1em + 0.75vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}



.hh5 {
  grid-column: col/ span 8;
  grid-row: row 5;
  padding: 0.00001em;
}

/* 00 */
.grid__item_item-h5{
  font-size: calc(1em + 10vw);
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 2px black;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.hhh5 {
	background: #000;
  margin: auto;
  width: 30.5vw;
  height: 2px;
  display: inline-block;
}

/* И ПЕЧЕНЬЯМИ */
.grid__item_item-h10{
  font-size: calc(1em + 0.75vw);
  padding: inherit;
  text-align: right;
  display: inline-block;
}






/* КАЛЕНДАРЬ СОБЫТИЙ */
.grid__item_item-m1 {
  grid-column: col / span 4;
  grid-row: row / span 1;
  padding: 0.1em;
  font-size: calc(1em + 0.75vw);
  font-family: "Arial Regular", Gadget, sans-serif;
}



.m2 {
  grid-column: col/ span 4;
  grid-row: row 2;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m2 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m3 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk2 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}





.m4 {
  grid-column: col 5/ span 4;
  grid-row: row 2;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m4 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m5 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk4 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}



.m6 {
  grid-column: col 9/ span 4;
  grid-row: row 2;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m6 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m7 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk6 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}






.m8 {
  grid-column: col 1/ span 4;
  grid-row: row 3;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m8 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m9 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk8 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}




.m10 {
  grid-column: col 5/ span 4;
  grid-row: row 3;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m10 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m11 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk10 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}





.m12 {
  grid-column: col 9/ span 4;
  grid-row: row 3;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m12 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m13 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk12 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}






.m14 {
  grid-column: col/ span 4;
  grid-row: row 4;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m14 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m15 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk14 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}


.m16 {
  grid-column: col 5/ span 4;
  grid-row: row 4;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m16 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m17 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk16 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}

.m18 {
  grid-column: col 9/ span 4;
  grid-row: row 4;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m18 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m19 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk18 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}




.m20 {
  grid-column: col/ span 4;
  grid-row: row 5;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m20 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m21 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk20 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}



.m22 {
  grid-column: col 5/ span 4;
  grid-row: row 5;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m22 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m23 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk22 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}


.m24 {
  grid-column: col 9/ span 4;
  grid-row: row 5;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m24 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m25 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk24 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}



.m26 {
  grid-column: col/ span 4;
  grid-row: row 6;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m26 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m27 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk26 {
	background: #000;
  margin: auto;
  width: 13vw;
  height: 2px;
  display: inline-block;
}



.m28 {
  grid-column: col 5/ span 4;
  grid-row: row 6;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m28 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m29 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk28 {
	background: #000;
  margin: auto;
  width: 14vw;
  height: 2px;
  display: inline-block;
}





.m30 {
  grid-column: col 9/ span 4;
  grid-row: row 6;
  padding: 0.1em;
}

/* 25/12 */
.grid__item_item-m30 {
  font-size: calc(1em + 3.2vw);
  padding: inherit;
  text-align: left;
  margin-right: auto;
  display: inline-block;
}

/* ЛЕКЦИЯ */
.grid__item_item-m31 {
  font-size: calc(0.5em + 0.5vw);
  font-family: "Arial Regular", Gadget, sans-serif;
  padding: inherit;
  text-align: right;
  display: inline-block;
}

/* ЛИНИЯ */
.mk30 {
	background: #000;
  margin: auto;
  width: 14vw;
  height: 2px;
  display: inline-block;
}
