@import "reset.css";

body {
  background-color: #FFF;
  overflow: scroll;
  margin: 0;
  display: flex;
}

body {
  cursor: url(images/cursor.png), default;
}

h1 {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

h1 {
  color: #000;
  transition: 1s;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-style: normal;
  font-variant: normal;
}

h1:hover {
  transition: 0.5s;
  color: #676329;
}

.text {
  margin-left: 5vh;
  margin-top: 10vh;
  line-height: 20vh;
  height: 100vh;
}

.lekcia {
  color: #FFF;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 2px black;
}

.lekcia,
.kakovo,
.but,
.jurafom,
.chislo {
  font-size: 20vh;
}





.time {
  margin-left: 3vh;
  margin-top: 5vh;
  line-height: 20vh;
}

.one1300,
.one1330,
.one1500,
.one1600,
.one1800{
  font-size: 10vh;
}

.one,
.two,
.three,
.four,
.five,
.six {
  display: flex;
  justify-content: flex-start;
  margin-left: 3vh;
}

.sbor,
.chay,
.lec,
.gosty,
.zavershenie{
  font-size: 3vh;
  font-family: Arial; font-weight: regular;
  margin-left: 15vh;
  margin-top: 3vh;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
}
